Nessa introdução ao SQL, faremos a conexão de um banco de dados que será criado nesse ambiente, ao DBeaver, um programa de banco de dados usando SQLite

Para começar, devemos criar no DBeaver um arquivo na mesma pasta que este 'conexao_sql.ipynb' e então importar a biblioteca que fará a conexão

In [1]:
import sqlite3

In [6]:
conexao = sqlite3.connect('banco_sql') #importa o banco de dados TEM QUE ESTAR NA MESMA PASTA

In [7]:
cursor = conexao.cursor() #passando para uma nova variável

Para CRIAR uma tabela, começamos com 'CREATE TABLE'

In [4]:
#cursor.execute('CREATE TABLE usuario(id INT, nome VARCHAR(100), endereco VARCHAR(100), email VARCHAR(100))')

Se queremos alterar algo da tabela, utilizamos o 'ALTER TABLE'

In [ ]:
#cursor.execute('ALTER TABLE usuario RENAME TO usuarios') #alterar o nome da tabela

In [9]:
#cursor.execute('ALTER TABLE usuario ADD COLUMN telefone INT') #adicionando uma coluna
#cursor.execute('ALTER TABLE usuario RENAME COLUMN telefoni TO telefone')  #alterar o nome de uma coluna

Um dos comandos mais utilizados é o de excluir tabelas, usando o DROP

In [ ]:
#cursor.execute('DROP TABLE usuario')   #ATENÇÃO não será possível recuperar a tabela

Para inserir dados dentro de uma tabela

In [4]:
#cursor.execute('INSERT INTO usuario(id,nome,endereco,email, telefone) VALUES(1,"Isadora", "França", "isa@gmail.com", 12345)')

In [31]:
#cursor.execute('INSERT INTO usuario(id,nome,endereco,email, telefone) VALUES(2,"Jose", "Brasil", "ze@gmail.com", 67890)')
#cursor.execute('INSERT INTO usuario(id,nome,endereco,email, telefone) VALUES(3,"Maria", "Curitiba", "maria@gmail.com", 123490)')
#cursor.execute('INSERT INTO usuario(id,nome,endereco,email, telefone) VALUES(4,"Marcia", "Salvador", "marcia@gmail.com", 12523490)')

Para excluir DADOS e não a tabela, usamos DELETE

In [28]:
#cursor.execute('DELETE FROM usuario where id=4')
#cursor.execute('DELETE FROM gerentes where id=4')

Para selecionar dados, vamos usar o SELECT. O "*" indica "selecionar TUDO"

In [12]:
dados = cursor.execute('SELECT * FROM usuario')
for usuario in dados:  #aqui precisamos unir python e sql, precisamos usar um "for" que aqui diz: para cada usuario em dados, faça isso: print
    print(usuario)


#Exemplo de seleção apenas de nomes
    #dados = cursor.execute('SELECT nome,telefone FROM usuario')  
    #for usuario in dados:
    #    print(usuario)
    print(usuario)

(2, 'Jose', 'Brasil', 'ze@gmail.com', 67890)
(3, 'Maria', 'Curitiba', 'maria@gmail.com', 123490)
(4, 'Marcia', 'Salvador', 'marcia@gmail.com', 12523490)

Atualização de dados! Usamos o UPDATE

In [13]:
#cursor.execute('UPDATE usuario SET endereco="Minas Gerais" WHERE nome="Jose"')

Também é possível ordenar os dados que quero visualizar com ORDER BY
** O DESC representa o contrário

In [15]:
dados = cursor.execute('SELECT * FROM usuario ORDER BY nome DESC')
for usuario in dados:  
    print(usuario)

(3, 'Maria', 'Curitiba', 'maria@gmail.com', 123490)
(4, 'Marcia', 'Salvador', 'marcia@gmail.com', 12523490)
(2, 'Jose', 'Minas Gerais', 'ze@gmail.com', 67890)

Outros filtros: LIMIT para limitar as infos e DISTINCT para diferenciar

In [17]:
dados = cursor.execute('SELECT * FROM usuario LIMIT 2') #Vai mostrar só 2 linhas
for usuario in dados:  
    print(usuario)

(2, 'Jose', 'Minas Gerais', 'ze@gmail.com', 67890)
(3, 'Maria', 'Curitiba', 'maria@gmail.com', 123490)

In [ ]:
dados = cursor.execute('SELECT DISTINCT * FROM usuario LIMIT 2') #Vai mostrar só 2 linhas que sejam DIFERENTES
for usuario in dados:  
    print(usuario)

Outras cláusulas: GROUP BY e o HAVING

*GROUP BY não trabalha junto com o WHERE, mas sim com o HAVING

In [20]:
dados = cursor.execute('SELECT id, nome FROM usuario GROUP BY nome HAVING id>3') #agrupamentos 
for usuario in dados:  
    print(usuario)

(4, 'Marcia')

Entendendo os JOIN's -> Combinando informações de várias tabelas

Right, left, Full e Inner

In [30]:
#Primeiro precisamos criar uma nova tabela e colocar novas infos
#cursor.execute('CREATE TABLE gerentes(id INT, nome VARCHAR(100), endereco VARCHAR(100), email VARCHAR(100))')
#cursor.execute('INSERT INTO gerentes(id,nome,endereco,email) VALUES(4,"Marcia", "Salvador", "marcia@gmail.com")')
#cursor.execute('INSERT INTO gerentes(id,nome,endereco,email) VALUES(5,"Cintia", "Londres", "marcia@gmail.com")')

In [36]:
# INNER JOIN - Pega as linhas que tem correspondências em ambas as tabelas
## Aqui vai selecionar os id iguais

#dados = cursor.execute('SELECT * FROM usuario INNER JOIN gerentes ON usuario.id = gerentes.id') 


# LEFT JOIN - Traz todas as infos da tabela esquerda e as da tebela direita que tem correspondência
## O que não tiver correspondência, ele irá colocar "None"

#dados = cursor.execute('SELECT * FROM usuario LEFT JOIN gerentes ON usuario.id = gerentes.id') 


# RIGHT JOIN - O contrário do LEFT!
#dados = cursor.execute('SELECT * FROM usuario RIGHT JOIN gerentes ON usuario.id = gerentes.id') 


# FULL JOIN - Retorna todas as linhas de todas as tabelas e compara as correspondências
#dados = cursor.execute('SELECT * FROM usuario FULL JOIN gerentes ON usuario.id = gerentes.id') 

for usuario in dados:  
    print(usuario)

(2, 'Jose', 'Minas Gerais', 'ze@gmail.com', 67890, None, None, None, None)
(3, 'Maria', 'Curitiba', 'maria@gmail.com', 123490, None, None, None, None)
(4, 'Marcia', 'Salvador', 'marcia@gmail.com', 12523490, 4, 'Marcia', 'Salvador', 'marcia@gmail.com')
(None, None, None, None, None, 5, 'Cintia', 'Londres', 'marcia@gmail.com')

Sub-consultas - Consultas SQL que nos permite usar o resultado de uma consulta em uma segunda

In [37]:
# Selecionar todas as infos dos nome de usuários que estiverem dentro dos nomes de gerentes
dados = cursor.execute('SELECT * FROM usuario WHERE nome IN (SELECT nome FROM gerentes)') 
for usuario in dados:  
    print(usuario)

(4, 'Marcia', 'Salvador', 'marcia@gmail.com', 12523490)

Para enviar as alterações ao banco de dados e finalizar a conexão, devemos fazer:

In [32]:
conexao.commit() #enviar para o banco de dados

In [38]:
conexao.close() #fechar a conexão