# Exercício Banco de Dados 
Débora Tomiatti Giancola

## 1. Crie uma tabela chamada "alunos" com os seguintes campos: id (inteiro), nome (texto), idade (inteiro) e curso (texto).

In [1]:
import sqlite3
conexao = sqlite3.connect('banco_sql')
cursor = conexao.cursor()

In [2]:
#cursor.execute('CREATE TABLE alunos(id INT, nome VARCHAR(100), idade INT, curso VARCHAR(100))')

In [24]:
conexao.commit()

## 2. Insira pelo menos 5 registros de alunos na tabela que você criou no exercício anterior.

In [5]:
#cursor.execute('INSERT INTO alunos(id,nome,idade,curso) VALUES(1,"Marcia", 19,"Biologia")')
#cursor.execute('INSERT INTO alunos(id,nome,idade,curso) VALUES(2,"Pedro", 20, "Letras")')
#cursor.execute('INSERT INTO alunos(id,nome,idade,curso) VALUES(3,"Ana", 21, "Geologia")')
#cursor.execute('INSERT INTO alunos(id,nome,idade,curso) VALUES(4,"Julia", 24, "Medicina")')
#cursor.execute('INSERT INTO alunos(id,nome,idade,curso) VALUES(5,"Debora", 22, "Jornalismo")')

## 3. Consultas Básicas - Escreva consultas SQL para realizar as seguintes tarefas:

### a) Selecionar todos os registros da tabela "alunos".

In [8]:
selecao = cursor.execute('SELECT * FROM alunos') 
for alunos in selecao:  
    print(alunos)

(1, 'Marcia', 19, 'Biologia')
(2, 'Pedro', 20, 'Letras')
(3, 'Ana', 21, 'Geologia')
(4, 'Julia', 24, 'Medicina')
(5, 'Debora', 22, 'Jornalismo')

### b) Selecionar o nome e a idade dos alunos com mais de 20 anos.

In [9]:
selecao = cursor.execute('SELECT nome,idade FROM alunos WHERE idade>20') 
for alunos in selecao:  
    print(alunos)

('Ana', 21)
('Julia', 24)
('Debora', 22)

### c) Selecionar os alunos do curso de "Geologia" em ordem alfabética.

In [13]:
selecao = cursor.execute('SELECT * FROM alunos GROUP BY curso HAVING curso="Geologia" ORDER BY nome') 
for alunos in selecao:  
    print(alunos)

(3, 'Ana', 21, 'Geologia')

### d) Contar o número total de alunos na tabela

In [15]:
selecao = cursor.execute('SELECT COUNT (*) AS total_alunos FROM alunos') 
for alunos in selecao:  
    print(alunos)

(5,)

## 4. Atualização e Remoção

### a) Atualize a idade de um aluno específico na tabela.

In [16]:
#cursor.execute('UPDATE alunos SET idade=27 WHERE nome="Pedro"')

### b) Remova um aluno pelo seu ID.

In [18]:
#cursor.execute('DELETE FROM alunos WHERE id=1')

## 5. Criar uma Tabela e Inserir Dados
### Crie uma tabela chamada "clientes" com os campos: id (chave primária), nome (texto), idade (inteiro) e saldo (float). Insira alguns registros de clientes na tabela.

In [21]:
#cursor.execute('CREATE TABLE clientes(id INT, nome VARCHAR(100), idade INT, saldo FLOAT)')

In [23]:
#cursor.execute('INSERT INTO clientes(id,nome,idade,saldo) VALUES(1,"Joao", 29, 1203)')
#cursor.execute('INSERT INTO clientes(id,nome,idade,saldo) VALUES(2,"Pietra", 31, 140)')
#cursor.execute('INSERT INTO clientes(id,nome,idade,saldo) VALUES(3,"Babi", 26, 2056)')
#cursor.execute('INSERT INTO clientes(id,nome,idade,saldo) VALUES(4,"Pati", 34, 1001)')

## 6. Consultas e Funções Agregadas - Escreva consultas SQL para realizar as seguintes tarefas:

### a) Selecione o nome e a idade dos clientes com idade superior a 30 anos.

In [27]:
selecao = cursor.execute('SELECT nome, idade FROM clientes WHERE idade>30')
for clientes in selecao:  
    print(clientes)

('Pietra', 31)
('Pati', 34)

### b) Calcule o saldo médio dos clientes.

In [28]:
selecao = cursor.execute('SELECT AVG(saldo) FROM clientes')
for clientes in selecao:  
    print(clientes)

(1100.0,)

### c) Encontre o cliente com o saldo máximo.

In [29]:
selecao = cursor.execute('SELECT MAX(saldo) FROM clientes')
for clientes in selecao:  
    print(clientes)

(2056.0,)

### d) Conte quantos clientes têm saldo acima de 1000.

In [31]:
selecao = cursor.execute('SELECT COUNT (*) FROM clientes WHERE saldo>1000')
for clientes in selecao:  
    print(clientes)

(3,)

## 7. Atualização e Remoção com Condições

### a) Atualize o saldo de um cliente específico.

In [33]:
#cursor.execute('UPDATE clientes SET saldo=520 WHERE nome="Pietra"')

### b) Remova um cliente pelo seu ID.

In [35]:
#cursor.execute('DELETE FROM clientes WHERE id=2')

## 8. Junção de Tabelas
### Crie uma tabela chamada "compras" com os campos: id (chave primária), cliente_id (chave estrangeira referenciando o id da tabela "clientes"), produto (texto) e valor (real). Insira algumas compras associadas a clientes existentes na tabela "clientes". Escreva uma consulta para exibir o nome do cliente, o produto e o valor de cada compra.

In [38]:
# Criar a tabela
#cursor.execute('CREATE TABLE compras(id INT, cliente_id INT, produto VARCHAR(100), valor REAL, FOREIGN KEY(cliente_id) REFERENCES clientes(id))')

In [42]:
# Compras dos clientes
cursor.execute('INSERT INTO compras(cliente_id, produto, valor) VALUES (1, "Camiseta", 30.00),(2, "Calça", 50.00),(3, "Tênis", 75.00)')

In [44]:
# Consulta de cliente
consulta = cursor.execute('SELECT c.nome, co.produto, co.valor FROM compras co INNER JOIN clientes c ON co.cliente_id = c.id')

# Exibir os resultados da consulta
for linha in consulta:
    print('Cliente:', linha[0])
    print('Produto:', linha[1])
    print('Valor:', linha[2])
    print('---')

Cliente: Joao
Produto: Camiseta
Valor: 30.0
---
Cliente: Babi
Produto: Tênis
Valor: 75.0
---

In [45]:
conexao.close()